<h1>Login Here:</h1>
<%= form_for @user do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %> <br>
  <%= f.label :password %>
  <%= f.text_field :password %>
<% end %>
<%= link_to "...or login using Google!", '/auth/google_oauth2' %>