<% title "Ticket: #{@ticket.subject}" %>
<%= render partial: 'ticket', locals: {ticket: @ticket} %>
<% if @assisting_admins %>
  <ul>This ticket has been answered by:
    <% @assisting_admins.each do |user| %>
      <li><%= link_to user.username, user_path(user) %></li>
    <% end %>
  </ul>
<% end %>
<p><%= link_to "Edit this ticket", edit_ticket_path(@ticket) %></p>
<h3>Comments:</h3>
<%= render partial: 'comments/comments', locals: {comments: @ticket.comments} %>
<br>
<h3>Add comment:</h3>
<%= form_for @ticket do |f| %>
  <%= render partial: 'comments/form', locals: {ticket: @ticket, form: f } %>
  <%= f.submit "Create Comment" %>
<% end %>