<% title "Ticket: #{@ticket.subject}" %>
<%= render partial: 'ticket', locals: {ticket: @ticket} %>
<h3>Comments:</h3>
<%= render partial: 'comments/comments', locals: {comments: @ticket.comments} %>
<br>
<h3>Add comment:</h3>
<%= form_for @ticket do |f| %>
  <%= render partial: 'comments/form', locals: {ticket: @ticket, form: f } %>
  <%= f.submit "Create Comment" %>
<% end %>