<!DOCTYPE html>
<html>
  <head>
    <title>Engelhilf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:alert] %>
      <h3 class="error_message"><%= flash[:alert] %></h3>
    <% end %>
    <%= yield %>
  </body>
</html>
